server:
  port: 8050
spring:
  application:
    name: tlmall-user-openfeign
  cloud:
    nacos:
      discovery:
        server-addr: tlmall-nacos-server:8848
        username: nacos
        password: nacos
    openfeign:
      client:
        config:
          # 针对下游tlmall-order的配置，如果改为default则是全局配置
          tlmall-order:
            # 日志输出粒度，需要搭配Spring的logging.level配置才能生效
            loggerLevel: FULL
            # 连接超时时间
            connectTimeout: 3000
            # 请求处理超时时间
            readTimeout: 5000
            # 从Spring MVC注解契约切换到Feign原生注解契约配置，需要配合一起切换OrderFeignService的代码才能使用
            # contract: feign.Contract.Default
            # 配置编解码器
            # encoder: feign.jackson.JacksonEncoder
            # decoder: feign.jackson.JacksonDecoder
            # 配置拦截器
            requestInterceptors:
              - org.nacosdemo.tlmalluseropenfeigndemo.interceptor.FeignAuthRequestInterceptor
      httpclient.hc5:
        # feign client使用 Apache HttpClient5
        enabled: false
      okhttp:
        # feign client使用 okhttp
        enabled: true
      compression: # 配置 GZIP 来压缩数据
        request:
          enabled: true
          mime-types: text/xml,application/xml,application/json
          min-request-size: 1024  # 最小请求压缩阈值
        response:
          enabled: true
logging:
  level:
    org.tuling.tlmalluseropenfeigndemo.feign: debug